<div class="container">
              
              <div class="row gap-flush">
                  <div class="col-100 jumbotron">
                      <div class="content">
                          <h1>example text</h1>
                      </div>
                  </div>
              </div>
              
              <div class="row gap-flush">
                  <div class="col-20">
                      <div class="content bg-light">Column<br>Gap-Flush</div>
                  </div>
                  <div class="col-20 ">
                      <div class="content bg-light">Column<br>Gap-Flush</div>
                  </div>
                  <div class="col-20">
                      <div class="content bg-light">Column<br>Gap-Flush</div>
                  </div>
                  <div class="col-20">
                      <div class="content bg-light">Column<br>Gap-Flush</div>
                  </div>
                  <div class="col-20">
                      <div class="content bg-light">Column<br>Gap-Flush</div>
                  </div>
              </div>
              
              <div class="row gap-flush">
                  <div class="col-50">
                      <div class="content bg-light">Column<br>Gap-Flush</div>
                  </div>
                  <div class="col-50 ">
                      <div class="content bg-light">Column<br>Gap-Flush</div>
                  </div>
              </div>
              
              <div class="row gap-vert">
                  <div class="col-100">
                      <div class="content bg-light">
                          <h3>Heading</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lacus justo, dictum a nisi quis, posuere malesuada orci. Aliquam erat volutpat. Maecenas congue ante est, facilisis tincidunt dui efficitur rhoncus. Maecenas rutrum ultrices sem, eget porttitor velit pulvinar in. Mauris pretium, nisi vitae semper sodales, mi magna finibus tortor, id cursus tellus quam rhoncus purus. Suspendisse eu tincidunt ipsum. Nullam vel egestas nunc, at mattis nisi. Duis mauris metus, dapibus id metus a, auctor ullamcorper metus. Sed massa ex, viverra eu augue sed, rutrum vulputate tortor. Pellentesque vestibulum mattis odio, quis sollicitudin nisl aliquam sed. Sed finibus et ipsum vel condimentum.

Aenean ac volutpat metus, eu accumsan leo. Praesent id nunc sit amet diam bibendum consequat sit amet tempus massa. Proin consectetur arcu tempor, rhoncus tortor vel, ultricies nisl. Phasellus arcu nunc, ornare ut arcu eu, tincidunt rhoncus sapien. Duis semper dolor non venenatis tempus. Pellentesque id semper neque, at hendrerit magna. Vivamus quis laoreet justo. In urna ex, finibus sit amet mollis sit amet, commodo non mauris. Cras tristique urna nisl, a sodales ante tincidunt sit amet. Nulla facilisi. Morbi convallis mauris non consequat faucibus. Cras dignissim orci sit amet magna porttitor maximus. Integer dapibus velit elit, vel cursus lorem elementum et. Duis gravida bibendum dignissim.</p>
                      </div>
                  </div>
              </div>
          
          </div>